@import '../../../sass/variables.scss';
@import 'https://unpkg.com/aos@2.3.1/dist/aos.css';

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 28px;
    &-list{
        li{
            position: relative;
            opacity: 0.9;
            transition: 0.5s ease all;
            &::before{
                position: absolute;
                content: url('../../../img/before.png');
                z-index: 10;
                right: 0;
                bottom: 20px;
            }
            &::after{
                position: absolute;
                content: url('../../../img/after.png');
                z-index: 10;
                left: 0;
                bottom: 0;
            }
        }
    }
    input{
        max-width: 700px;
        height: 47px;
        background-color: #404040;
        border-radius: 15px;
        border: none;
        position: relative;
        bottom: 110px;
        right: 85px;
        &::placeholder{
            color: white;
        }
    }
    h2{
        font-family: 'Rotterburg Stylish FREE';
        font-weight: 400;
        font-size: 31px;
        line-height: 34px;
        color: $lightGray;
        text-transform: uppercase;
    }
    .cate{
        margin-top: 30px;
        display: flex;
        gap: 90px;
        flex-direction: row;
        margin-left: 40px;
        position: relative;
        &::before{
            content: url('../../../img/before2.png');
            position: absolute;
            top: -200px;
            right: -200px;
        }
        li{
            color: #ffffff99;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            margin: 0px 60px;
            cursor: pointer;
            z-index: 10;
        }
        .btnAct{
            position: relative;
            color: $lightGray;
            &::before{
                content: "";
                width: 0;
                position: absolute;
                bottom: -10px;
                height: 3px;
                border-radius: 5px;
                color: $lightGray;
                background-color: $lightGray;
                animation: anim 2s both;
            }
        }
    }
    &-list{
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 500px;
        overflow-y: scroll;
        li{
            margin: 10px;
            margin-top: 30px;
            cursor: pointer;
            .card{
                background: linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
                border-radius: 15px;
                h5{
                    font-family: 'Steinbeck';
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 20px;
                    color: $lightGray;
                    text-align: center;
                    margin-top: -15px;
                }
                p{
                    font-family: 'Steinbeck';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    color: #ffffff99;
                    text-align: center;
                }
                &-foot{
                    margin: 0 auto;
                    margin-top: -20px !important;
                    margin-bottom: 20px;
                    .btn2{
                        margin: 0px 10px;
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-family: 'Steinbeck';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 16px;
                        i{
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}
a,p,h5{
    text-decoration: none;
}


@keyframes anim{
    from{
        width: 0%;
    }
    to{
        width: 120%;
    }
}
