.login{
    display: flex;
    align-items: center;
    justify-content: center;
    .frm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 200px;
        input{
            
        }
    }
}