@import '../../sass/variables.scss';

.about{
    width: 1300px;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left{
        img{
            width: 582px;
            height: 780px;
            object-fit: contain;
        }
        .div{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: 'Visuelt Pro';
                font-weight: 300;
                font-size: 12px;
                line-height: 144.4%;
                color: #ffffff99;
            }
            h5{
                font-family: 'Rotterburg Stylish FREE';
                font-weight: 400;
                font-size: 39px;
                line-height: 144.4%;
                color: $lightGray;
            }
            b{
                width: 40px;
                height: 3px;
                background-color: $lightGray;
                margin: 0 20px;
                margin-top: -10px;
            }
        }
    }
    &-right{
        position: relative;
        &::before{
            content: url('../../img/before2.png');
            position: absolute;
            z-index: 10;
            bottom: 20px;
        }
        &::after{
            content: url('../../img/before3.png');
            position: absolute;
            z-index: 10;
            bottom: 0;
            right: -80px;
        }
        width: 670px;
        margin-left: 90px;
        .desc{
            font-size: 16px;
            font-family: sans-serif;
            line-height: 28.4px;
        }
        .bookNames{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 15px;
            p{
                margin: 5px 10px;
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 400;
            }
        }
        .imgList{
            display: flex;
            width: 600px;
            overflow-x: scroll;
            &-item{
                margin: 10px 40px;
                margin-left: 0;
            }
        }
        h2{
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 48px;
            line-height: 53px;
            color: $lightGray;
            margin-top: 30px;
        }
        p{
            font-family: 'Steinbeck';
            font-weight: 400;
            font-size: 16px;
            line-height: 144.4%;
            color: #ffffffcc;
            margin-top: 20px;
        }
        .p{
            margin-left: 25px;
            margin-top: 0;
        }
        h5{
            font-family: 'Rotterburg Stylish FREE';
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: $lightGray;
            span{
                margin-right: 10px;
            }
        }
        .spanH5{
            margin-top: 30px;
        }
        .h5{
            font-size: 31px;
            margin-top: 53px;
        }
        ul{
            margin-top: 20px;
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $lightGray;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c19e79;
  }