.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-center{
        &None{
            display: none;
        }
        a{
            margin-left: 30px;
            text-decoration: none;
            color: #fff;
        }
    }
    &-right{
        display: flex;
        .profile{
            display: flex;
            align-items: center;
            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 400;
            }
            button{
                background-color: transparent;
                border: none;
                margin: 0px 5px;
            }
            i{
                color: white;
            }
        }
    }
}

.ProfileImg{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.none{
    display: none;
}
.block{
    display: block;
}